.header{
	padding: 20px;
    background: cornflowerblue;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
}
.logo{font-weight: 900;}
.body{
	border-radius: 25px;
    padding: 20px;
    background: aliceblue;
    text-align: center;
}
form{display: table-caption;}
input[type="submit"]{padding: 10px;
    color: #fff;
    background: green;
    border: none;
    font-weight: 600;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.hide{
	display: none;
}
table{width: 100%;}
td{padding: 10px;border-bottom: 1px solid;}